<form action="/login" method="post">
    <label for="username">Username</label>
    <input id="username" type="text" name="username"><br>
    <label for="password">Password</label>
    <input id="password" type="password" name="password"><br>
    <input type="submit" value="Login">

    <% if @failed %>
        <p class="danger">Your username/password combo is incorrect</p>
    <% end %> 
</form> 